@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url(../img/Image3.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #41525e7a;
    border: 2px solid #4152;
    color: #cfbfb4;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2)
}

.intro-text {
     background-color:  #7a5747;
    color: #e2cfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.quality-image {
    background-attachment: fixed;
    background-image: url(../img/image5.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #73879780;
    border: 2px solid #73879780;
    color: #cfbfb4;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2)
}

.quality-text {
    background-color:  #ce9550;
    color: #abdbe3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url(../img/image7.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #b98c7e7f;
    border: 2px solid #ebd4b5;
    color: #cfbfb4;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.2)
}

.origin-text {
    background-color:  #6f574d;
    color: #7b8e9e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.footer {
    height: 150px;
    background-color: #77c5d3;
    color: aliceblue;
    font-size: 1.5rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: aliceblue;
    text-decoration: none;
}

.footer ul li a:hover {

    color: darkgoldenrod;
}